body { font-family: Arial; text-align:center; }
.tabs button { margin: 5px; padding: 10px 20px; cursor:pointer; }

.grid {
  width: 300px;
  height: 300px;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.grid div {
  background:#ccc;
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  height:70px;
}

canvas { background:#eee; border:1px solid #333; }

.clicker-container button { margin: 5px; padding:10px 20px; }
